build/

amr_workload/dramsim3_tracechunks/*

fft_workload/*.trace
fft_workload/chunk_traces/*
fft_workload/fft_gem5_output/*

dramsim3.trace
bfs

graph_coarsening_dramsim3.trace
graph_coarsening_log_ascii_trace
graph_coarsening_log_417