build/

# Remove m5 outputs and traces -- files too big
workloads/graph_workloads/m5out*
workloads/graph_workloads/*trace

workloads/fft_workload/m5out*
workloads/fft_workload/*trace

workloads/amr_workload/m5out*
workloads/amr_workload/*trace
workloads/amr_workload/amr_counts
workloads/graph_workloads/graph_coarsening
workloads/fft_workload/fft
workloads/pagerank_workload/m5out*
workloads/*/__pycache__
workloads/pagerank_workload/pagerank_pull