build/

# Remove m5 outputs and traces -- files too big
workloads/graph_workloads/m5out*
workloads/graph_workloads/*trace

workloads/fft_workload/m5out*
workloads/fft_workload/*trace

workloads/amr_workloads/m5out*
workloads/amr_workloads/*trace
workloads/graph_workloads/graph_coarsening